main {
    padding: 25px;
}

/* Card Form */
.card-form {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 25px auto 25px auto;
    grid-gap: 15px;
    width: 450px;
}


/* Card Styles */

.card {
    width: 300px;
    height: 180px;
    padding: 25px;
    background-color: #dddddd;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);

    display: grid;
}

.card input {
    height: 25px;
    padding: 0;
}

/* Card Front Styles */

.card-front {
    grid-template-columns: 3fr 1fr;
    grid-gap: 15px;

    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 2;
}

.card-image {
    justify-self: flex-end;
}

.card-number-container {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
}

fieldset {
    padding: 0;
    border: none;
    margin: 0;
}

.month-year {
    display: flex;
    justify-content: space-between;
}

.month-year input {
    width: 40px;
}

/* Card Back Styles */

.card-back {
    grid-template-columns: 3fr 1fr;
    padding-right: 0;
    padding-left: 0;
    width: 350px;

    grid-column: 2/4;
    grid-row: 2/4;
    z-index: 1;
}

.card-strip {
    height: 40px;
    background-color: #485253;
    grid-column: 1/3;
}

.card-cvv-container {
    grid-column: 2/3;
    align-self: flex-end;
}

#card-cvv {
    width: 60px;
}

.submit-btn {
    padding: 8px;
    width: 85px;
    border: 2px solid;
    border-radius: 5px;

    grid-column: 3/4;
    grid-row: 4/5;
    justify-self: flex-end;
}